In [1]:
import pyodbc
import pandas as pd
import numpy as np
import os

In [2]:
# Avoid using inner join. Instead use WHERE example: Client_Id IN tuple(df.client_id.values) 
# Avoid using inner join. Instead use WHERE example: Client_Id IN tuple(df.client_id.values) 
# Avoid using inner join. Instead use WHERE example: Client_Id IN tuple(df.client_id.values) 
# Avoid using inner join. Instead use WHERE example: Client_Id IN tuple(df.client_id.values)

In [3]:
conn_lims = pyodbc.connect("Driver={SQL Server};"
                        "Server=192.168.5.18\CROPNUT;"
                        "Database=cropnuts;"
                        "uid=thomasTsuma;pwd=GR^KX$uRe9#JwLc6")

In [4]:
commercial = pd.read_sql("select * from Clients where client_Type = 1 and agent_type = 0", con=conn_lims)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [5]:
len(commercial.index)

7216

In [6]:
farmlab = pd.read_sql("select * from Clients where  client_Type = 6 and agent_type =7", con=conn_lims)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [7]:
len(farmlab.index)

25

In [8]:
businessPartners = pd.read_sql("select * from Clients where  client_Type = 2 and agent_type = 1 and ParentAgent_id = 0", con=conn_lims)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [9]:
len(businessPartners.index)

121

In [10]:
agents = pd.read_sql("select * from Clients where  client_Type = 4 and agent_type = 2", con=conn_lims)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [11]:
crops = pd.read_sql("select Crop_Code, Crop_Name from crops", con=conn_lims)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [12]:
for col in crops.columns:
    crops = crops.rename(columns={col : col.lower()})

In [13]:
for col in commercial.columns:
    commercial = commercial.rename(columns={col : col.lower()})
for col in farmlab.columns:
    farmlab = farmlab.rename(columns={col : col.lower()})
for col in businessPartners.columns:
    businessPartners = businessPartners.rename(columns={col : col.lower()})
for col in agents.columns:
    agents = agents.rename(columns={col : col.lower()})

In [14]:
chemicals = pd.read_sql("select Chemical_Code, Chemical_Symbol from Chemicals", con=conn_lims)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [15]:
chemicals['Chemical_Symbol'] = [i.strip() for i in chemicals['Chemical_Symbol'].fillna("").values] 
for col in chemicals.columns:
    chemicals = chemicals.rename(columns={col : col.lower()})

In [16]:
farms = pd.read_sql("SELECT Farm_Code, Farm_Name from Farms", con=conn_lims)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [17]:
for col in farms.columns:
    farms = farms.rename(columns={col : col.lower()})

In [18]:
nutrient = pd.read_sql("Select use_nutrient_req,use_YieldvsSoilTestRanges,crop_code, chemical_code, client_id, Farm_Code from YieldvsSoilTestRangesSettings", con = conn_lims)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [19]:
for col in nutrient.columns:
    if(col == "use_YieldvsSoilTestRanges"):
        continue
    nutrient = nutrient.rename(columns={col : col.lower()})

In [20]:
nutrient

,use_nutrient_req,use_YieldvsSoilTestRanges,crop_code,chemical_code,client_id,farm_code
0,False,True,194,19,7669,0
1,False,True,194,19,7670,0
2,False,True,23,19,7669,0
3,False,True,46,19,8763,0
4,False,True,46,19,7669,0
...,...,...,...,...,...,...
414,False,True,79,1,0,0
415,False,False,1651,19,0,0
416,False,False,1651,1,0,0
417,False,False,1650,19,0,0
418,False,False,1650,1,0,0

In [21]:
nutrient['chemical_symbol'] = [chemicals.loc[chemicals['chemical_code'] == i]['chemical_symbol'].values[0] for i in nutrient.chemical_code]

In [22]:
for i in nutrient.crop_code:
    if(len(crops.loc[crops['crop_code'] == i]) < 1):
        continue
    else:
        name = crops.loc[crops['crop_code'] == i]['crop_name'].values[0]
        nutrient.loc[nutrient['crop_code'] == i, 'crop_name'] = name

In [23]:
for i in nutrient.farm_code:
    if(len(farms.loc[farms['farm_code'] == i]) < 1):
        continue
    else:
        name = farms.loc[farms['farm_code'] == i]['farm_name'].values[0]
        nutrient.loc[nutrient['farm_code'] == i, 'farm_name'] = name

In [24]:
nutrient = nutrient.loc[(nutrient['chemical_symbol']=="P") | (nutrient['chemical_symbol']=="K")]

In [25]:
nutrient

,use_nutrient_req,use_YieldvsSoilTestRanges,crop_code,chemical_code,client_id,farm_code,chemical_symbol,crop_name,farm_name
0,False,True,194,19,7669,0,P,Millet,NaN
1,False,True,194,19,7670,0,P,Millet,NaN
2,False,True,23,19,7669,0,P,ma,NaN
3,False,True,46,19,8763,0,P,Maize,NaN
4,False,True,46,19,7669,0,P,Maize,NaN
...,...,...,...,...,...,...,...,...,...
414,False,True,79,1,0,0,K,Canola (OSR),NaN
415,False,False,1651,19,0,0,P,Sorghum (Hybrid),NaN
416,False,False,1651,1,0,0,K,Sorghum (Hybrid),NaN
417,False,False,1650,19,0,0,P,Sorghum (OPV),NaN
418,False,False,1650,1,0,0,K,Sorghum (OPV),NaN

FARMLAB

In [ ]:
fl_nutrient_client_level = nutrient.loc[(nutrient.client_id.isin(farmlab.client_id))]
fl_nutrient_client_level['client_name'] = [farmlab.loc[farmlab["client_id"] ==i]["client_name"].values[0] for i in fl_nutrient_client_level.client_id]
fl_nutrient_client_level['client_type'] = "farm_lab"
# Add the client name for all client_types (Expect around 20 results for FarmLab)
ag_nutrient_client_level = nutrient.loc[(nutrient.client_id.isin(businessPartners.client_id))]
ag_nutrient_client_level.client_name = [businessPartners.loc[businessPartners["client_id"] ==i]["client_name"].values[0] for i in ag_nutrient_client_level.client_id]
ag_nutrient_client_level['client_type'] = 'AgViza'
#For Agviza add the campaign name and campaign id(These are usually for business partners) .. Should be left blank for the other two client types
#Business partners have a parent and child 
# For agviza advice is set at parent level so child level is irrelevant for advice
# Expect around 70-100 results for AgViza
commercial_nutrient_client_level = nutrient.loc[(nutrient.client_id.isin(commercial.client_id))]
commercial_nutrient_client_level.client_name = [commercial.loc[commercial["client_id"] ==i]["client_name"].values[0] for i in commercial_nutrient_client_level.client_id]
commercial_nutrient_client_level['client_type'] = "Commercial"
#Farm_id and Farm Name should be added to commercial client type ... Should be left out in case of AgViza and FL
# Expect results in the thousands


##The overall results should be several thousands before adding any filter
##Add the explanation of the results as well

In [ ]:
df = pd.DataFrame()
df = pd.concat([fl_nutrient_client_level,ag_nutrient_client_level,commercial_nutrient_client_level])

In [ ]:
df

In [ ]:
fl_global = farmlab.loc[~(farmlab.client_id.isin(nutrient['client_id']))]
ag_global = businessPartners.loc[~(businessPartners.client_id.isin(nutrient['client_id']))]
comm_global = commercial.loc[~(commercial.client_id.isin(nutrient['client_id']))]

In [ ]:
fl_global

In [ ]:
for client in fl_global.client_id:
    fl_global_df = nutrient.loc[(nutrient['client_id'] == 0) & (nutrient['farm_code'] == 0)]
    fl_global_df['client_id'] = client
    fl_global_df['client_type'] = "farm_lab"
    df = pd.concat([df,fl_global_df])

In [ ]:
for client in ag_global.client_id:
    ag_global_df = nutrient.loc[(nutrient['client_id'] == 0) & (nutrient['farm_code'] == 0)]
    ag_global_df['client_id'] = client
    ag_global_df['client_type'] = "AgViza"
    df = pd.concat([df,ag_global_df])

In [ ]:

for client in comm_global.client_id:
    comm_global_df = nutrient.loc[(nutrient['client_id'] == 0) & (nutrient['farm_code'] == 0)]
    comm_global_df['client_id'] = client
    comm_global_df['client_type'] = "Commercial"
    df = pd.concat([df,comm_global_df])

In [ ]:
df.to_csv("Settings.csv")

Masterlist of crops

In [ ]:
# Avoid using inner join. Instead use WHERE example: Client_Id IN tuple(df.client_id.values)