In [ ]:
import pyodbc
import pandas as pd
import numpy as np
import os

In [2]:
final_df = pd.DataFrame()

In [20]:
final_fl_dict = pd.DataFrame()
final_ag_dict = pd.DataFrame()
final_comm_dict = pd.DataFrame()

In [5]:
conn_lims = pyodbc.connect("Driver={SQL Server};"
                        "Server=192.168.5.18\CROPNUT;"
                        "Database=cropnuts;"
                        "uid=thomasTsuma;pwd=GR^KX$uRe9#JwLc6")

In [6]:
settings = pd.read_csv("Settings.csv")

In [7]:
settings

,Unnamed: 0,use_nutrient_req,use_YieldvsSoilTestRanges,crop_code,chemical_code,client_id,farm_code,chemical_symbol,crop_name,farm_name,client_name,client_type
0,0,False,True,194,19,7669,0,P,Millet,NaN,OCP_Nigeria1- NW,farm_lab
1,1,False,True,194,19,7670,0,P,Millet,NaN,OCP_Ghana_1,farm_lab
2,2,False,True,23,19,7669,0,P,ma,NaN,OCP_Nigeria1- NW,farm_lab
3,3,False,True,46,19,8763,0,P,Maize,NaN,OCP_Nigeria3-SS/SE,farm_lab
4,4,False,True,46,19,7669,0,P,Maize,NaN,OCP_Nigeria1- NW,farm_lab
...,...,...,...,...,...,...,...,...,...,...,...,...
188,62,False,False,23,19,293,6822,P,ma,Erasto Oraro,NaN,Commercial
189,97,False,True,69,19,5528,0,P,Tobacco,NaN,NaN,Commercial
190,98,False,True,69,1,5528,0,K,Tobacco,NaN,NaN,Commercial
191,204,False,True,702,19,6598,0,P,Potatoes (Irish),NaN,NaN,Commercial
192,253,False,True,1112,19,577,0,P,Maize (Silage),NaN,NaN,Commercial

In [8]:
potassium_master_req = pd.read_csv("Nutrient_Requirement/Potassium_req_df.csv")

In [9]:
potassium_master_req = potassium_master_req.drop("Unnamed: 0", axis=1)

In [10]:
potassium_master_req.columns.to_list()

['upper_bound',
 'units',
 'symbol',
 'start',
 'lower_bound',
 'interval',
 'end',
 'Range',
 'Option_Status',
 'Nutrient_Req_Id',
 'Crop_Name',
 'Crop_Code',
 'Client_Id',
 'Chemical_code',
 'Chemical_Name',
 '95',
 '90',
 '9.5',
 '9',
 '85',
 '80',
 '8.5',
 '8',
 '750',
 '75',
 '70',
 '7.5',
 '7',
 '65',
 '60',
 '6.5',
 '6',
 '55',
 '500',
 '50',
 '5.5',
 '5',
 '45',
 '44',
 '43',
 '42',
 '41',
 '40',
 '4.9',
 '4.85',
 '4.8',
 '4.75',
 '4.7',
 '4.6',
 '4.5',
 '4.4',
 '4.35',
 '4.3',
 '4.25',
 '4.2',
 '4.1',
 '4',
 '39',
 '38',
 '37',
 '36',
 '35',
 '34',
 '33',
 '32',
 '31',
 '30',
 '3.9',
 '3.85',
 '3.8',
 '3.75',
 '3.7',
 '3.6',
 '3.5',
 '3.4',
 '3.35',
 '3.3',
 '3.25',
 '3.2',
 '3.1',
 '3',
 '29',
 '28',
 '27',
 '26',
 '25',
 '24',
 '23',
 '22',
 '21',
 '20',
 '2.9',
 '2.85',
 '2.8',
 '2.75',
 '2.7',
 '2.6',
 '2.5',
 '2.4',
 '2.35',
 '2.3',
 '2.25',
 '2.2',
 '2.1',
 '2',
 '19.5',
 '19',
 '18.5',
 '18',
 '17.5',
 '17',
 '16.5',
 '16',
 '1500',
 '15.5',
 '15',
 '140',
 '14.5',
 '14',
 '130',
 '13.5',
 '13',
 '1250',
 '120',
 '12.5',
 '12',
 '110',
 '11.5',
 '11',
 '1000',
 '100',
 '10.5',
 '10',
 '1.9',
 '1.85',
 '1.8',
 '1.75',
 '1.7',
 '1.6',
 '1.5',
 '1.4',
 '1.35',
 '1.3',
 '1.25',
 '1.2',
 '1.1',
 '1',
 '0.9',
 '0.85',
 '0.8',
 '0.75',
 '0.7',
 '0.6',
 '0.5',
 '0.35',
 '0.1',
 '0']

In [11]:
cols = [*potassium_master_req.columns.to_list()[15:], *["Client_Id","Crop_Name","Chemical_Name","Crop_Code"]]

In [12]:
print(cols)

['95', '90', '9.5', '9', '85', '80', '8.5', '8', '750', '75', '70', '7.5', '7', '65', '60', '6.5', '6', '55', '500', '50', '5.5', '5', '45', '44', '43', '42', '41', '40', '4.9', '4.85', '4.8', '4.75', '4.7', '4.6', '4.5', '4.4', '4.35', '4.3', '4.25', '4.2', '4.1', '4', '39', '38', '37', '36', '35', '34', '33', '32', '31', '30', '3.9', '3.85', '3.8', '3.75', '3.7', '3.6', '3.5', '3.4', '3.35', '3.3', '3.25', '3.2', '3.1', '3', '29', '28', '27', '26', '25', '24', '23', '22', '21', '20', '2.9', '2.85', '2.8', '2.75', '2.7', '2.6', '2.5', '2.4', '2.35', '2.3', '2.25', '2.2', '2.1', '2', '19.5', '19', '18.5', '18', '17.5', '17', '16.5', '16', '1500', '15.5', '15', '140', '14.5', '14', '130', '13.5', '13', '1250', '120', '12.5', '12', '110', '11.5', '11', '1000', '100', '10.5', '10', '1.9', '1.85', '1.8', '1.75', '1.7', '1.6', '1.5', '1.4', '1.35', '1.3', '1.25', '1.2', '1.1', '1', '0.9', '0.85', '0.8', '0.75', '0.7', '0.6', '0.5', '0.35', '0.1', '0', 'Client_Id', 'Crop_Name', 'Chemical_Name', 'Crop_Code']

In [13]:
potassium_master_req = potassium_master_req[cols]

In [14]:
potassium_master_req

,95,90,9.5,9,85,80,8.5,8,750,75,...,0.7,0.6,0.5,0.35,0.1,0,Client_Id,Crop_Name,Chemical_Name,Crop_Code
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Baby Corns,Potassium,13
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Baby Corns,Potassium,13
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Baby Corns,Potassium,13
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Baby Corns,Potassium,13
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Baby Corns,Potassium,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Soya Mix SM12 >S no Chlorine,Potassium,1538
533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Soya Mix SM12 >S no Chlorine,Potassium,1538
534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Soya Mix SM12 >S no Chlorine,Potassium,1538
535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Soya Mix SM12 >S no Chlorine,Potassium,1538
536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Soya Mix SM12 >S no Chlorine,Potassium,1538

In [15]:
phosphorous_master_req = pd.read_csv("Nutrient_Requirement/Phosphorous_req_df.csv")

In [16]:
phosphorous_master_req = phosphorous_master_req.drop("Unnamed: 0", axis=1)

In [17]:
cols = [*phosphorous_master_req.columns.to_list()[15:], *["Client_Id","Crop_Name","Chemical_Name","Crop_Code"]]

In [18]:
phosphorous_master_req = phosphorous_master_req[cols]

In [19]:
phosphorous_master_req

,95,90,9.5,9,85,80,8.5,8,750,75,...,0.9,0.8,0.75,0.7,0.6,0.5,Client_Id,Crop_Name,Chemical_Name,Crop_Code
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Wheat,Phosphorous,18
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Wheat,Phosphorous,18
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Wheat,Phosphorous,18
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Wheat,Phosphorous,18
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Wheat,Phosphorous,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Soya Mix SM12 >S no Chlorine,Phosphorous,1538
416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Soya Mix SM12 >S no Chlorine,Phosphorous,1538
417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Soya Mix SM12 >S no Chlorine,Phosphorous,1538
418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Soya Mix SM12 >S no Chlorine,Phosphorous,1538
419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Soya Mix SM12 >S no Chlorine,Phosphorous,1538

In [ ]:
fl = settings.loc[settings['client_type'] == 'farm_lab']
crop_fl_settings_dict = {}
for code in fl.crop_code.values:
    if(code in crop_fl_settings_dict.keys()):
        continue
    ct = len(fl.loc[(fl['crop_code'] == code) & (fl['use_YieldvsSoilTestRanges'] == True)])
    crop_fl_settings_dict[code] = ct
final_fl_dict['crop_code'] = crop_fl_settings_dict.keys()
final_fl_dict['InstancesUseYieldVsSoilTestRange'] = crop_fl_settings_dict.values()
final_fl_dict['Client_Type'] = 'FarmLab'

In [ ]:
comm = settings.loc[settings['client_type'] == 'Commercial']
crop_comm_settings_dict = {}
for code in comm.crop_code.values:
    if(code in crop_comm_settings_dict.keys()):
        continue
    ct = len(comm.loc[(comm['crop_code'] == code) & (comm['use_YieldvsSoilTestRanges'] == True)])
    crop_comm_settings_dict[code] = ct
final_comm_dict['crop_code'] = crop_comm_settings_dict.keys()
final_comm_dict['InstancesUseYieldVsSoilTestRange'] = crop_comm_settings_dict.values()
final_comm_dict['Client_Type'] = 'Commercial'

In [ ]:
ct

In [ ]:
settings.client_type.unique()

In [ ]:
ag = settings.loc[settings['client_type'] == 'AgViza']
crop_ag_settings_dict = {}
for code in ag.crop_code.values:
    if(code in crop_ag_settings_dict.keys()):
        continue
    ct = len(ag.loc[(ag['crop_code'] == code) & (ag['use_YieldvsSoilTestRanges'] == True)])
    crop_ag_settings_dict[code] = ct
final_ag_dict['crop_code'] = crop_ag_settings_dict.keys()
final_ag_dict['InstancesUseYieldVsSoilTestRange'] = crop_ag_settings_dict.values()
final_ag_dict['Client_Type'] = 'AgViza'

In [ ]:
final_fl_dict

In [23]:
settings.columns

Index(['Unnamed: 0', 'use_nutrient_req', 'use_YieldvsSoilTestRanges',
       'crop_code', 'chemical_code', 'client_id', 'farm_code',
       'chemical_symbol', 'crop_name', 'farm_name', 'client_name',
       'client_type'],
      dtype='object')

In [25]:
fl_phosphorous = settings.loc[(settings['client_type'] == 'farm_lab') & (settings['use_YieldvsSoilTestRanges']==True) & (settings['chemical_code']==19)]
comm_phosphorous = settings.loc[(settings['client_type'] == 'Commercial') & (settings['use_YieldvsSoilTestRanges']==True) & (settings['chemical_code']==19)]
ag_phosphorous = settings.loc[(settings['client_type'] == 'AgViza') & (settings['use_YieldvsSoilTestRanges']==True) & (settings['chemical_code']==19)]

In [26]:
fl_potassium = settings.loc[(settings['client_type'] == 'farm_lab') & (settings['use_YieldvsSoilTestRanges']==True) & (settings['chemical_code']==1)]
comm_potassium = settings.loc[(settings['client_type'] == 'Commercial') & (settings['use_YieldvsSoilTestRanges']==True) & (settings['chemical_code']==1)]
ag_potassium = settings.loc[(settings['client_type'] == 'AgViza') & (settings['use_YieldvsSoilTestRanges']==True) & (settings['chemical_code']==1)]

Analysis for Phosphorous

In [ ]:
final_fl_dict['Chemical_Code'] = 19
for code, cid in zip(fl_phosphorous.crop_code, fl_phosphorous.client_id):
    print(code)
    print(cid)
    similar = False
    df = pd.read_sql(f"SET NOCOUNT ON;execute [load_YieldvsSoilTestRanges] @crop_code={code},@Chemical_code=19,@client_id={cid}", con=conn_lims)
    master = pd.read_sql(f"SET NOCOUNT ON;execute [load_YieldvsSoilTestRanges] @crop_code={code},@Chemical_code=19,@client_id=0", con=conn_lims)
    df = df[df.columns.to_list()[11:]]
    master = master[master.columns.to_list()[11:]]
    print(len(df.columns))
    print(len(master.columns))
    if(len(df.columns) != len(master.columns)):
        continue
    for i in df.columns:
        if(i not in master.columns):
            similar=False
            break
        if(df[i].to_list() == master[i].to_list()):
            similar = True
            continue
        else:
            similar = False
            break
    if(similar == True):
        final_fl_dict.loc[final_fl_dict['crop_code'] == code,'SimilarToMaster'] = True
    else:
        final_fl_dict.loc[final_fl_dict['crop_code'] == code,'SimilarToMaster'] = False

In [ ]:
final_fl_dict

In [ ]:
final_ag_dict['Chemical_Code'] = 19
for code, cid in zip(ag.crop_code, ag.client_id):
    print(code)
    print(cid)
    similar = False
    df = pd.read_sql(f"SET NOCOUNT ON;execute [load_YieldvsSoilTestRanges] @crop_code={code},@Chemical_code=19,@client_id={cid}", con=conn_lims)
    master = pd.read_sql(f"SET NOCOUNT ON;execute [load_YieldvsSoilTestRanges] @crop_code={code},@Chemical_code=19,@client_id=0", con=conn_lims)
    df = df[df.columns.to_list()[11:]]
    master = master[master.columns.to_list()[11:]]
    print(len(df.columns))
    print(len(master.columns))
    if(len(df.columns) != len(master.columns)):
        continue
    for i in df.columns:
        if(i not in master.columns):
            similar=False
            break
        if(df[i].to_list() == master[i].to_list()):
            similar = True
            continue
        else:
            similar = False
            break
    print(similar)
    if(similar == True):
        final_ag_dict.loc[final_ag_dict['crop_code'] == code,'SimilarToMaster'] = True
    else:
        final_ag_dict.loc[final_ag_dict['crop_code'] == code,'SimilarToMaster'] = False

In [ ]:
final_ag_dict

In [ ]:
final_comm_dict['Chemical_Code'] = 19
for code, cid in zip(comm.crop_code, comm.client_id):
    print(code)
    print(cid)
    similar = False
    df = pd.read_sql(f"SET NOCOUNT ON;execute [load_YieldvsSoilTestRanges] @crop_code={code},@Chemical_code=19,@client_id={cid}", con=conn_lims)
    master = pd.read_sql(f"SET NOCOUNT ON;execute [load_YieldvsSoilTestRanges] @crop_code={code},@Chemical_code=19,@client_id=0", con=conn_lims)
    df = df[df.columns.to_list()[11:]]
    master = master[master.columns.to_list()[11:]]
    print(len(df.columns))
    print(len(master.columns))
    if(len(df.columns) != len(master.columns)):
        continue
    for i in df.columns:
        if(i not in master.columns):
            similar=False
            break
        if(df[i].to_list() == master[i].to_list()):
            similar = True
            continue
        else:
            similar = False
            break
    print(similar)
    if(similar == True):
        final_comm_dict.loc[final_comm_dict['crop_code'] == code,'SimilarToMaster'] = True
    else:
        final_comm_dict.loc[final_comm_dict['crop_code'] == code,'SimilarToMaster'] = False

In [ ]:
final_comm_dict

Analysis for Potassium

In [ ]:
final_fl_dict['Chemical_Code'] = 1
for code, cid in zip(fl.crop_code, fl.client_id):
    print(code)
    print(cid)
    similar = False
    df = pd.read_sql(f"SET NOCOUNT ON;execute [load_YieldvsSoilTestRanges] @crop_code={code},@Chemical_code=1,@client_id={cid}", con=conn_lims)
    master = pd.read_sql(f"SET NOCOUNT ON;execute [load_YieldvsSoilTestRanges] @crop_code={code},@Chemical_code=1,@client_id=0", con=conn_lims)
    df = df[df.columns.to_list()[11:]]
    master = master[master.columns.to_list()[11:]]
    print(len(df.columns))
    print(len(master.columns))
    if(len(df.columns) != len(master.columns)):
        continue
    for i in df.columns:
        if(i not in master.columns):
            similar=False
            break
        if(df[i].to_list() == master[i].to_list()):
            similar = True
            continue
        else:
            similar = False
            break
    if(similar == True):
        final_fl_dict.loc[final_fl_dict['crop_code'] == code,'SimilarToMaster'] = True
    else:
        final_fl_dict.loc[final_fl_dict['crop_code'] == code,'SimilarToMaster'] = False